/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ogólny styl strony */
body {
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('/background_image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.title {
    font-size: 2em;
}

.work-in-progress {
    font-style: italic;
    color: #777;
    margin-top: 20px;
}

/* Kategorie projektów */
.category {
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #888;
}

.category-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
}

.project-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}

.category-unavailable {
    font-size: 1.4em;
    color: #777;
}

/* Style kategorii */
.category-python {
    background: #D3FFCE;
}

.category-lua {
    background: #FFD3CE;
}

.category-csharp {
    background: #CED4FF;
}

.category-cplusplus {
    background: #FFE9CE;
}

/* Linki społecznościowe */
.link-section {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-links-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.social-link {
    display: inline-block;
    text-decoration: none;
    color: transparent;
    font-size: 1.6em;
    margin: 0 20px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Obrazy w tle przycisków społecznościowych */
.github-link {
    background-image: url('/github.png');
}

.tiktok-link {
    background-image: url('/tiktok.png');
    
}

.discord-link {
    background-image: url('/discord.png');
}

/* Instagram */
.instagram-link {
    background-image: url('/instagram.png'); /* Dodaj ścieżkę do obrazu Instagrama */
   
}

/* Po najechaniu myszką */
.social-link:hover {
    text-decoration: underline;
}
